/*Custom Styles for ngx contact list */
$color-contact-list: rgb(75, 77, 218);
$background-contact-list: #1b2b35;
$color-text: WhiteSmoke;
$color-input-search: WhiteSmoke;
$border-line-style: dotted;
$border-line-color: WhiteSmoke;
@import "/node_modules/ngx-contact-list/ngx-contact-list.scss";

.phone-small {
  color: rgb(189, 180, 180) !important;
}
