/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html, body {
  margin: 0;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  background: #FAFAFA;
  height: 100%;
}

/*Custom Styles for ngx contact list */

.alpha-search {
  height: 100%;
  position: relative;
}

.alpha-search * {
  outline: 0;
}

.alpha-search .alpha-search-content {
  height: inherit;
  position: relative;
}

.alpha-search .alpha-search-content .close-button {
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  right: 35px;
  top: 17px;
  padding: 9px 10px;
  background: #fff;
  transition-duration: 0.3s;
  border: none;
  border-radius: 25px;
}

.alpha-search .alpha-search-content .close-button > svg {
  fill: #bbb;
  stroke: #bbb;
  stroke-width: 0;
  width: 16px;
}

.alpha-search .alpha-search-content .close-button:hover {
  background: #1B2B35;
}

.alpha-search .alpha-search-content .alpha-search-input {
  background: #1B2B35;
  padding: 15px;
  border: 1px rgba(204, 204, 204, 0.6) solid;
  border-radius: 10px 10px 0 0;
}

.alpha-search .alpha-search-content .alpha-search-input > form > input {
  width: 100%;
  max-width: inherit;
  border: none;
  outline: 0;
  box-sizing: border-box;
  font-size: 18px;
  padding: 12px 45px 12px 50px;
  background-color: transparent;
}

.alpha-search .alpha-search-content .alpha-search-input .icon {
  position: absolute;
}

.alpha-search .alpha-search-content .alpha-search-input .icon > svg {
  stroke-width: 0;
}

.alpha-search .alpha-search-content .alpha-search-input .icon:first-child {
  margin-top: 6px;
}

.alpha-search .alpha-search-content .alpha-search-input .icon:first-child > svg {
  fill: rgb(75, 77, 218);
  stroke: rgb(75, 77, 218);
  width: 32px;
}

.alpha-search .alpha-search-content .alpha-search-input .icon:last-child {
  cursor: pointer;
  left: 485px;
  top: 28px;
}

.alpha-search .alpha-search-content .alpha-search-input .icon:last-child > svg {
  fill: #bbb;
  stroke: #bbb;
  width: 17px;
}

.alpha-search .alpha-search-content .alpha-search-area {
  height: calc(100% - 77px);
  position: relative;
  box-sizing: border-box;
  background: #1B2B35;
  border-radius: 0 0 10px 10px;
}

.alpha-search .alpha-search-content .alpha-search-area > ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 15px 0 15px 0;
  display: block;
  box-sizing: border-box;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 10px 10px;
  border: 1px rgba(204, 204, 204, 0.6) solid;
  border-top: 0;
}

.alpha-search .alpha-search-content .alpha-search-area > ul > li {
  padding: 0 20px;
  position: relative;
  display: table;
  width: 100%;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.alpha-search .alpha-search-content .alpha-search-area > ul > li > span {
  position: relative;
  z-index: 2;
  padding: 0 15px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px rgb(75, 77, 218) solid;
  margin-bottom: -1px;
  display: table;
  color: rgb(75, 77, 218);
}

.alpha-search .alpha-search-content .alpha-search-area > ul > li .search-item-data {
  cursor: pointer;
  z-index: 1;
  color: WhiteSmoke;
  position: relative;
  display: table;
  width: 100%;
  padding: 0 20px;
  margin: 0 -20px;
  transition-duration: 0.3s;
  border-top: 1px WhiteSmoke dotted;
  background: #1B2B35;
}

.alpha-search .alpha-search-content .alpha-search-area > ul > li .search-item-data > span {
  display: block;
  color: WhiteSmoke;
  padding: 10px 0;
}

.alpha-search .alpha-search-content .alpha-search-area > ul > li:hover .search-item-data {
  background: rgba(0, 0, 0, 0.03);
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-a ~ .let-a > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-b ~ .let-b > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-c ~ .let-c > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-d ~ .let-d > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-e ~ .let-e > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-f ~ .let-f > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-g ~ .let-g > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-h ~ .let-h > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-i ~ .let-i > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-j ~ .let-j > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-k ~ .let-k > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-l ~ .let-l > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-m ~ .let-m > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-n ~ .let-n > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-o ~ .let-o > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-p ~ .let-p > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-q ~ .let-q > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-r ~ .let-r > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-s ~ .let-s > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-t ~ .let-t > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-u ~ .let-u > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-v ~ .let-v > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-w ~ .let-w > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-x ~ .let-x > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-y ~ .let-y > span {
  display: none;
}

.alpha-search .alpha-search-content .alpha-search-area > ul .let-z ~ .let-z > span {
  display: none;
}

.alpha-search .alpha-search-content > section {
  z-index: 1;
  position: absolute;
  right: 1px;
  top: 77px;
  bottom: 1px;
  overflow: hidden;
  background: linear-gradient(to left, #1B2B35 30px, transparent 50px);
  border-radius: 0 0 10px 0;
}

.alpha-search .alpha-search-content > section .alpha-letters-list {
  position: relative;
  text-transform: uppercase;
  transition-duration: 0.3s;
  display: table;
  width: 50px;
  padding: 1px 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0.8;
}

.alpha-search .alpha-search-content > section .alpha-letters-list > span {
  position: relative;
  color: rgb(75, 77, 218);
  z-index: 2;
  display: block;
  width: 100%;
}

.alpha-search .alpha-search-content > section .alpha-letters-list > i {
  display: block;
  z-index: 1;
  position: absolute;
  left: 5px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
}

.alpha-search .alpha-search-content > section .alpha-letters-list.contains {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
  color: #1B2B35;
}

.alpha-search .alpha-search-content > section .alpha-letters-list.contains > span:hover ~ i {
  opacity: 0.8;
}

.alpha-search .alpha-search-content > section .alpha-letters-list.actived {
  opacity: 1;
  z-index: 10;
  position: relative;
  color: #1B2B35;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.alpha-search .alpha-search-content .alpha-indicator {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0px;
  margin-top: -50px;
  display: table;
  transition-duration: 0.5s;
  -webkit-user-select: none;
          user-select: none;
}

.alpha-search .alpha-search-content .alpha-indicator > div {
  display: table-cell;
  vertical-align: middle;
}

.alpha-search .alpha-search-content .alpha-indicator > div:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
}

.alpha-search .alpha-search-content .alpha-indicator > div:nth-child(1) > div {
  display: table;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(75, 77, 218);
  color: #1B2B35;
}

.alpha-search .alpha-search-content .alpha-indicator > div:nth-child(1) > div > span {
  display: table-cell;
  color: WhiteSmoke;
  vertical-align: middle;
  text-align: center;
}

.alpha-search .alpha-search-content .alpha-indicator > div:nth-child(2) > span {
  z-index: 1;
  display: block;
  position: absolute;
  left: 68px;
  top: 50px;
  font-weight: bold;
  color: #1B2B35;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.alpha-search .alpha-search-content .alpha-indicator > div:nth-child(2) > svg {
  width: 55px;
  opacity: 0.5;
  fill: rgba(75, 77, 218, 0.5);
}

.alpha-search .alpha-search-content.hidden-title .alpha-search-title {
  height: 0;
}

.alpha-search .fadeEnter {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeEnter;
}

.alpha-search .fadeExit {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeExit;
}

@keyframes fadeEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.input-search-contact-list {
  color: WhiteSmoke;
}

/*# sourceMappingURL=styles.css.map*/